@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-auto">
    <div id="searchPanel">
        <div class="text-center">
            <h1 id="title-text">Оберіть аудиторію</h1>
        </div>

        <div class="row justify-content-lg-center">
            <input id="input_search" class="form-control my-1 mx-lg-1 col-lg-8" type="search" placeholder="Search" aria-label="Search">
            <button id="search-btn" class="btn btn-outline-success my-1 mx-lg-1 col-lg-2" type="submit">Search</button>
        </div>
    </div>

    <div id="audience-data" class="container-fluid my-md-5 my-1 h-100">
        <div id="audience-info-group" class="row">
            <div id="audience-name" class="col-4 p-0 text-center pretty-text h4 px-1"></div>
            <div id="audience-building" class="col-4 p-0 text-center pretty-text h4 px-1"></div>
            <div id="audience-floor" class="col-4 p-0 text-center pretty-text h4 px-1"></div>
        </div>
        <div id="audience-image-group">
            <img id="audience-image" class="img-fluid" />
        </div>
    </div>

</div>