@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-auto">
    <div id="searchPanel">
        <div class="text-center">
            <h1 id="title-text">Оберіть аудиторію</h1>
        </div>

        <div class="row justify-content-lg-center">
            <input class="form-control my-1 mx-lg-1 col-lg-8" type="search" placeholder="Search" aria-label="Search" id="input_search">
            <button id="search-btn" class="btn btn-outline-success my-1 mx-lg-1 col-lg-2" type="submit">Search</button>
        </div>
    </div>

    <div id="audience-data" class="container">
        <div id="audience-info-group">
        </div>
        <div id="audience-image-group">
            <img id="audience-image"/>
        </div>
    </div>
</div>